.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.modal {
  position: absolute;
  min-height: 609px;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $main-bg-color;
  border-radius: 4px;
  transition: transform 700ms ease-in-out;
  padding: 40px 40px;

  @media screen and (min-width: 1200px) {
      min-height: 581px;
      min-width: 528px;
  }
}

.form {
  width: 100%;

  &__modal__heading {
    display: block;
    max-width: 370px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      min-width: 448px;
    }
  }

  &__inputs-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: start;
  }
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $main-bg-color;
  padding: 6px;
  cursor: pointer;
}
.modal__btn-close:hover {
  fill: $hover-color;
}
.is-hidden {
  transform: opacity 0.5;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: lineara;
}
.modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.modal__heading {
  color: $logo-header-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.8;
  margin-bottom: 12px;

  
@media screen and (max-width: 1199.78px) {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  }
}
.inputs-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__inputs--styles {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
}
.modal__list-item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__icon-position {
  position: absolute;
  left: 14px;
  top: 50%;
  // transform: translateY(-50%);
}

.form__field {
  max-width: 370px;
  margin-bottom: 18px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .form__field {
    max-width: 448px;
    margin-bottom: 18px;
    position: relative;
  }
}

.form__link-dec-condition {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &:focus {
    outline-color: $hover-color;
  }
}

.form__label-name-condition {
  // display: flex;
  // align-items: center;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-field-condition {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0;

  @media screen and (min-width: 480px) {
    min-width: 370px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 435px;
  }
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__icon-checkbox--on {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  opacity: 0;

  .form__checkbox:checked ~ & {
    background-color: $hover-color;
    opacity: 1;
    transition: background-color $transition-whole;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 1200px) {
    left: 7px;
  }
}

.form__icon-checkbox--off {
  position: absolute;
  top: 2px;
  left: 0;

  width: 18px;
  height: 18px;
  border-radius: 2px;

  .form__checkbox:focus:not(:checked) ~ & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    stroke: $hover-color;
    stroke-width: 2px;
    stroke-opacity: 0.8;
    transition: stroke $transition-whole;;
  }
  @media screen and (min-width: 1200px) {
    left: 7px;
  }
}

.modal__textarea {
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.modal__button {
  border: none;
  padding: 10px 55px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-flex {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 479.98px) {
  .modal {
    max-width: 450px;
  }

  .check__text {
    font-size: 12px;
    line-height: 1.1;

    @media screen and (min-width: 480px) {
      min-width: 370px;
    }
  
    @media screen and (min-width: 1200px) {
      min-width: 435px;
    }
  }
}

